<div class="container">
  <h1>Phone Form</h1>
  <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
    <div class="form-group">
      <label for=" phone">Phone Number
        <span *ngIf="phoneRequired">*</span></label>
      <input class="form-control" type="text" formControlName="phone">
    </div>
    <div class="alert alert-danger" *ngIf="form.controls['phone'].hasError('maxlength')">Phone
      numbers cannot exceed 10 characters</div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>